<section>
<!--   <div class="page-header">
    <h1 ng-bind="vm.post.title"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.post.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.post.user" ng-bind="vm.post.user.displayName"></span>
      <span ng-if="!vm.post.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.post.content"></p> -->
  <div class="list-group">
    <!-- <div hidden data-ng-model="totalThreads" data-ng-init="totalThreads=vm.posts"></div> -->
    <!-- <div hidden data-ng-if="vm.threads.$resolved && !vm.loaded" data-ng-init="vm.init()"></div> -->
    <div ng-repeat="reply in vm.posts" class="list-group-item">
      <div hidden ng-model="file" ng-init="file = reply.content.fileAttached"></div>
      <div class="container-fluid row">
        <div class="col-sm-12">
          <small>
            File:
            <span ng-if="file.origFileName.length > 30"><span ng-bind="file.origFileName.slice(0,25)" title="{{file.origFileName}}"></span>...</span>
            <span ng-if="file.origFileName.length <= 30" ng-bind="file.origFileName" title="{{file.origFileName}}"></span>
            (<span ng-if="(file.weight < 1024)" ><span ng-bind="file.weight"></span> B </span>
            <span ng-if="(file.weight > 1024) &&(file.weight < 1048576)"><span ng-bind="(file.weight/1024).toFixed(0)"></span> KB </span>
            <span ng-if="(file.weight > 1048576)"><span ng-bind="((file.weight/1024)/1024).toFixed(1)"></span> MB </span>
            <span ng-bind="file.width"></span>
            <span ng-if="file.height">x</span><span ng-bind="file.height"></span>)
          </small>
        </div>
        <div class="col-sm-3">
          <div>
            <img ng-if="((file.height >= file.width) && (file.height >= 250))" ng-src="{{file.fileURL}}" style="height: 250px; width: auto;">
            <img ng-if="((file.height >= file.width) && (file.height < 250))" ng-src="{{file.fileURL}}">
            <img ng-if="((file.height < file.width) && (file.height >= 250))" ng-src="{{file.fileURL}}" style="height: auto; width: 250px;">
            <img ng-if="((file.height < file.width) && (file.height < 250))" ng-src="{{file.fileURL}}">
            <video ng-if="file.mimetype === 'video/webm'" width="250" height="auto" autoplay loop controls muted>
              <source ng-src="{{file.fileURL}}" type="video/webm">
            </video>
          </div>   
        </div>
        <div class="col-sm-9">
          <div>
            <!-- <strong ng-show="reply.topic !== ''" ng-bind="reply.topic"></strong> -->
            <small class="list-group-item-text">
              <span ng-show="(reply.isUser && reply.name!=='Anonymous')">##</span>
              <span ng-bind="reply.name"></span>
               (ID:<span ng-bind="reply.specialID"></span>) 
              <span ng-bind="reply.created | date:'MM/d/yy(EEE) HH:mm:ss'"></span> 
               No. <span ng-bind="reply.number"></span> 
          </small>
          </div>
          <div>
            <p ng-bind="reply.content.comment"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
