

.container{
	margin-left: 10px;
	margin-right: 0px;
	width: 98%;;
}

.list-group{
	border: hidden;
	box-shadow: transparent;
	display:flex;
	flex-flow: column nowrap;
}

.list-group-item{
	display: block;
}

.OP-post{
	width: 100%;
	background-color: #333;
	color: white;
}

.reply-post{
	width: 80%;
}

.reply-File{
	float: left;
}

.reply-thumbnile{
	margin-right: 10px; 
	cursor: pointer;
	max-width: 100%;
}

.w-img-OP{
	height: auto; 
	width: 325px;
}

.h-img-OP{
	height: 325px;
	width: auto
}

.w-img{
	height: auto; 
	width: 125px;
}

.h-img{
	height: 125px;
	width: auto
}

.post-comment{
	white-space: pre-wrap;
	overflow-wrap: break-word;
	margin: 10px;
}

.fake-link{
	color: #4D65FE;
	text-decoration: underline;
	cursor: pointer;
}

.fake-link-invalid{
	color: #4D65FE;
	text-decoration: line-through;
}

.hfake-link:hover{
	color: #4D65FE;
	text-decoration: underline;
	cursor: pointer;
}

.centered{
	display: flex;
	justify-content: center;
}

.centered div.container-fluid{
	width: 30%;
}

.floating-form{
	margin: 10px;
	padding: 10px;
	z-index: 1000;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: white;
	border: solid 1.1px transparent;
	border-radius: 5px;
	box-shadow: 0px 0px 10px grey; 
}

.close-form {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.close-form button{
	padding: 5px;
	padding-top: 2px;
	width: 25px;
	height: 25px;
	right: 0;
}

.hide-form{
	display: none;
}

.backlink{
	margin: 0px 2px 0px 2px;
}

.focused{
	box-shadow: 0px 0px 10px grey; 
	z-index: 5;
}

#top, #bottom{
	box-shadow: none;
	z-index: initial;
	padding-top: 40px
}
